html 
    head 
        title AcordWEB 
        link(rel="stylesheet" href="/stylesheets/acordao-page.css")
        link(rel="stylesheet" href="/stylesheets/footer.css")
        link(rel="stylesheet" href="/stylesheets/navbar.css")
    body
        script. 
            function dropDownToggle() {
                var toggle = document.querySelector('.dropdown');
                toggle.classList.toggle('active');
            }
        
        script.
            function toggle() {
                var blur = document.getElementById('blur');
                blur.classList.toggle('active');

                var popup = document.getElementById('popup');
                popup.classList.toggle('active');
            }
        
        script. 
            function resetInputs() {
                const inputElements = document.querySelectorAll('.input-container input');

                inputElements.forEach(function(input) {
                    input.value = input.defaultValue;
                });
            }

        .container#blur
        
            include navbar.pug
            
            .content         
                .title
                    h1 Processo #{a.Processo}
                    ul
                        li.bt: a(href="javascript:void(0)", onclick="goBack()") Voltar
                        script.
                            function goBack() {
                                window.history.go(-1);
                            }
                        if adm == true
                            li: a(href="#" onclick="toggle(); event.preventDefault();")
                                img.ed(src="/images/edit.png")
                        if log == true
                            li: a(href="/")
                                img.fv(src="/images/heart.png")
                
                .box
                    .table-wrapper
                        table 
                            each key in Object.keys(a)
                                tr
                                    if key != '_id' && key != 'Processo'
                                        if key in d
                                            td.key= d[key]
                                        else
                                            if key == 'url'
                                            td.key= key
                                        if key == 'url'
                                            td
                                                a(href="http://www.dgsi.pt" + a[key] target='_blank')= a[key]
                                        else 
                                            td= a[key]

            include footer.pug

        #popup
            form(action=`/processo/editar/${a._id}` method="POST")
                p Processo #{a.Processo}
                table 
                    each key in Object.keys(a)
                        tr
                            if key != '_id' && key != 'Processo' && key != 'Descritores'
                                if key in d
                                    td.key= d[key]
                                else
                                    if key == 'url'
                                    td.key= key
                                td.inp
                                    .input-container
                                        if key != 'Descritores'
                                            input(name=key type="text" value=a[key])

                img.popup-image(src='/images/close.png', alt='close', onclick=`toggle(); resetInputs()`)
                button(type='submit') Guardar alterações